#body {
    padding: 40px 20px;
}
#addForm, #mainSection {
    width: 400px;
    margin: 45px auto;
}
.todoWrapper {
    width: 375px;
    padding: 10px 0;
}
.todoItem {
    width: max-content;
    max-width: 365px;
    overflow-wrap: break-word;
}
.todoItem:hover {
    cursor: pointer;
    font-weight: bolder;
}



.close {
    padding: 10px 0;
}
.checked {
    text-decoration: line-through;
    color: rgb(163, 163, 163);
}

@media (min-width: 5px) and (max-width: 550px) {
    #addForm, #mainSection {
        width: 85% !important;
    }
    .todoWrapper {
        width:90% !important;
    }
}
@media (min-width: 5px) and (max-width: 300px) {
    #addForm, #mainSection {
        width: 90% !important;
    }
}
